In [1]:
# Problem 1: Unique Words in a Sentence

sentence = "python is easy and python is powerful"

words = sentence.split()

unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", words)

Unique words count: 5
Unique words: ['python', 'is', 'easy', 'and', 'python', 'is', 'powerful']

In [2]:
# Problem 2: Highest Salary from Employee Data

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_name = ""
highest_salary = 0

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_name = name

print("Highest Salary:", highest_name, "-", highest_salary)

Highest Salary: Ravi - 75000

In [3]:
# Problem 3: Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num

    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
# Problem 4: Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [5]:
# Problem 5: Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]

present_days = 0
total_days = len(attendance)

for day in attendance:
    if day == "P":
        present_days += 1

percentage = (present_days / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [6]:
# Problem 6: Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
# Problem 7: Count Character Frequency
text = "python"

char_count = {}

for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
# Problem 8: Convert List to Tuple
list=[10,20,30]
tuple=tuple(list)
print("Tuple:",tuple)

Tuple: (10, 20, 30)

In [9]:
# Problem 9: Check if a Key Exists in a Dictionary
employees = {
    "Ravi": 101,
    "Anita": 102,
    "Kiran": 103
}

key_name = "Ravi"

if key_name in employees:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

In [10]:
# Problem 10: Calculate Average Marks
marks = [85, 70, 60, 75]
avg=sum(marks)/len(marks)
print("Average Marks:",avg)

Average Marks: 72.5